
body {
    background:white;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin:0;
    padding:0;
}

.top-bg {
    max-height: 179px;
}
.top-bg img {
    width: 100%;
    margin-top:-7px;

}

img.esendar-logo {
    position: absolute;
    margin-top: -25%;
    margin-left: 37%;
}
.bottom-bg .right {
    position: fixed;
    right: 0;
    bottom:0;
    width:200px;
}
/*.bottom-bg {
    width: 200px;
    height: 100%;
    background-image: url('../images/login/login-bg-1-copy.png');
    background-position:bottom right;
    background-repeat:no-repeat;
    position:absolute;
    right:0;
    background-size:contain;
}*/
.logo img {
    width: 300px;
    position: fixed;
    bottom: 20px;
}

.box {
    text-align:center;
    transition: 0.25s;
    border-radius: 10px;
    /*margin-top:-200px;*/
}
.forgot {
    text-align: left;
    transition: 0.25s;
    border-radius: 10px;
    margin-top:20px;
}

.change-pass-bg{
    max-height:125px;
}
.forgot p {
    font-size: 14px;
}
.forgot .fa-lock {
    color: #707991;
    font-size: 18px;
    margin-right: 5px;
}
.box input[type="text"],
.box input[type="password"],
.box input[type="email"]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: left;
        border: 1px solid #cf1e98;
        padding: 10px 10px;
        width: 100%;
        outline: none;
        color: Black;
        border-radius: 24px;
        transition: 0.25s
    }    
.forgot input[type="text"],
.forgot input[type="password"],
.forgot input[type="email"]{
        border: 0;
        background: none;
        display: block;
        margin: 10px auto;
        text-align: left;
        border: 2px solid #cf1e98;
        padding: 10px 10px;
        width: 100%;
        outline: none;
        color: Black;
        border-radius: 24px;
        transition: 0.25s
    }    

.box h1 {
            color: black;
            text-transform: uppercase;
            font-weight: 500
        }

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus {
    width: 100%;
    border-color: #2ecc71
}
.otp input[type="text"]:focus {
    border-color: #cf1e98;
}
.box input[type="submit"] {
    border: 0;
    background: #cf1e98;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 10px 60px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}
.forgot input[type="submit"] {
    border: 0;
    background: #cf1e98;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: none;
    padding: 10px 60px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}
.forgot input[type="button"] {
    border: 0;
    background: #cf1e98;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: none;
    padding: 10px 60px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}
/*.new-pass input[type="text"]{
    position:relative!important;
}*/
.new-pass {
   margin-top:30px;
   display:none;
}
.show{
    display:block;
}
.new-pass{
    position:relative;
}
.fa-eye-slash {
    position: absolute;
    right: 26px;
    top: 10px;
    font-size: 25px;
    color: #cf1e98;
}
.fa-eye {
    position: absolute;
    right: 26px;
    top: 10px;
    font-size: 25px;
    color: #cf1e98;
}
.eye-second {
    position: absolute;
    right: 26px;
    top: 70px;
    font-size: 25px;
    color: #cf1e98;
}


a.forgot {
        text-decoration:none;
        color:blue;
    }
a.forgot:hover {
        text-decoration: none;
        color: green;
     }

.otp{
    display:flex;
}
input.one {
    border-right: none !important;
    border-radius: 24px 0px 0px 24px !important;
}
input.two {
    border-right: none !important;
    border-radius: 0px 0px 0px 0px !important;
}
input.three {
    border-right: none !important;
    border-radius: 0px 0px 0px 0px !important;
}
input.four {
    border-radius: 0px 24px 24px 0px !important;
}

@media screen and (max-width: 575px) and (min-width:425px) {
    .box {
        width: 300px;
        margin: 0px auto;
    }
}

@media screen and (max-width: 500px) {
    .top-bg img {
        margin-top: 0px;
    }
    .logo img {
        width: 180px;
    }
}

@media screen and (max-width: 392px) {
    .bottom-bg .right {
        width: 130px;
    }
}
@media screen and (max-width: 320px) {
    .bottom-bg .right {
        width: 100px;
    }
}
@media screen and (max-width: 392px) {
    img.esendar-logo {
        position: absolute;
        margin-top: -33%;
        margin-left: 28%;
    }
}

@media screen and (max-width: 340px) {
    .box input[type="text"]:focus,
    .box input[type="password"]:focus {
        width: 100%;
        border-color: #2ecc71
    }
}

/*change-password*/
@media screen and (max-width: 570px) {
    .change-pass-bg {
        max-height: 100px;
    }
   .change-password .bottom-bg .right {
        width: 150px;
    }
}

@media screen and (max-width: 420px) {
    .change-password .bottom-bg .right {
        width: 110px;
    }
}